@page "/"

<h1>Multi-Sport Tracker</h1>

<p>Select a league to view teams & matches:</p>

<ul>
    <li><a href="/teams/soccer">⚽ Soccer</a></li>
    <li><a href="/teams/basketball">🏀 Basketball</a></li>
    <li><a href="/teams/baseball">⚾ Baseball</a></li>
</ul>
