<nav>
    <ul>
        <li><NavLink href="/">🏠 Home</NavLink></li>
        <li><NavLink href="/teams/soccer">⚽ Soccer</NavLink></li>
        <li><NavLink href="/teams/basketball">🏀 Basketball</NavLink></li>
        <li><NavLink href="/teams/baseball">⚾ Baseball</NavLink></li>
    </ul>
</nav>
